<!-- <dom-module id='app-shell'>

  <template>
    <style>

    </style>

    <app-location route={{route}} path={{path}}></app-location>
    <app-route
      pattern="/:page"
      route={{route}}
      data={{data}}
      tail={{tail}}>
    </app-route>

    <iron-lazy-pages attr-for-selected='data-route' selected=[[path]]>
      <template is='iron-lazy-page' data-route='/'>

      </template>

      <template is='iron-lazy-page' data-route='/verify-email'>
      </template>

      <template is='iron-lazy-page' data-route='/login'>
        <login-view></login-view>
      </template>

      <template is='iron-lazy-page' data-route='/signup'>
        <signup-view></signup-view>
      </template>

      <template is='iron-lazy-page' data-route='/clients-daily'>
        <stories-view></stories-view>
      </template>

    </iron-lazy-pages>

		{{hello}}

  </template>
</dom-module>

<script>
	import gql from 'graphql-tag';
	import '@polymer/polymer/polymer.html';

	import '@polymer/app-route/app-route.html';
	import '@polymer/app-route/app-location.html';
	import '@polymer/iron-lazy-pages/iron-lazy-pages.html';



	Polymer({
	  is: 'app-shell',
		behaviors:[PolymerApolloBehavior],
	  observers: [
	    '_loadViewDependency(data)'
	  ],
	  listeners: {
	    'route-selected': 'changeRoute'
	  },
		properties : {
		    // Initialize your apollo data
		    hello: String,
		},

		// apollo: {
		// 	query: {
		// 		hello: gql`{getStories}`,
		// 	}
		// 	// Simple query that will update the 'hello' polymer property
		// },
		// apollo: {
		// 	hello: gql`{gamona}`,
		// },
	  attached: function() {
	  },
	  changeRoute: function(e) {
	    // tells route path where to go
	    this.path = e.detail.path;
	  },
	  _loadViewDependency: function(path) {
	    require('./stories-view.html');

	    // path.page === '' ? require(`/imports/client/views/welcome-view.html`) : require(`/imports/client/views/${path.page}-view.html`);
	  }

		// _loadViewDependency: function(path) {
		// 	switch (path.page) {
		// 		case 'stories-list':
		// 			// this.loaded = false;
		// 			import('./clients-daily-view.html').then(Component => {
		// 				// this.loaded = true;
		// 				console.log('imported');
		// 				console.log(React);
		// 			});
		// 			break;
		// 		case 'clients-monthly':
		// 			this.loaded = false;
		// 			import('./clients-monthly-view.html').then(React => {
		// 				this.loaded = true;
		// 				console.log('imported');
		// 				console.log(React);
		// 			});
		// 	}

	});
</script> -->


<dom-module id='app-shell'>
	<template>

		<style>
			:host {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
		</style>

		<h1><a href='/clients-daily'>clients-daily</a></h1>
		<h1><a href='/clients-monthly'>clients-monthly</a></h1>


		<app-location route={{route}} path={{path}}></app-location>
		<app-route
			pattern='/:page'
			route={{route}}
			data={{data}}
			tail={{tail}}>
		</app-route>

		<iron-lazy-pages attr-for-selected='data-route' selected=[[path]]>
			<clients-daily-view
				first-name=[[firstName]]
				data-route='/yolo'>
			</clients-daily-view>

			<clients-daily-view
				first-name=[[firstName]]
				data-route='/clients-daily'>
			</clients-daily-view>

			<clients-monthly-view
				first-name=[[firstName]]
				data-route='/clients-monthly'>
			</clients-monthly-view>
		</iron-lazy-pages>

	 <page-loader loaded=[[loaded]]></page-loader>

	</template>

	<script>
	import gql from 'graphql-tag';
	import ApolloClient, { createNetworkInterface, addTypename } from 'apollo-client';
	import { PolymerApolloBehavior } from '../polymer-apollo';
	import ApolloClientOptions from '../apollo.js';

	import '@polymer/polymer/polymer-element.html';
	import '@polymer/app-route/app-route.html';
	import '@polymer/app-route/app-location.html';
	import '@polymer/iron-lazy-pages/iron-lazy-pages.html';
	import '../components/page-loader/page-loader.html';

	{

		class AppShell extends PolymerApolloBehavior(Polymer.Element, ApolloClientOptions) {

			static get is() { return 'app-shell'; }

			static get properties() { return {
				apollo: {
					type: Object,
					value: function() {
						return {
							// Query with parameters
								hello: gql`{getStories}`
						};
					}
				}
			}; }
				static get observers() { return [
					'_loadViewDependency(data)'
				]; }

				changeRoute(e) {
					// tells route path where to go
					this.path = e.detail.path;
				}

				_loadViewDependency(path) {
					switch (path.page) {
						case 'clients-daily':
							// this.loaded = false;
							// import('./clients-daily-view.html').then(React => {
							// 	this.loaded = true;
							// 	console.log('imported');
							// 	console.log(React);
							});
							break;
						case 'clients-monthly':
							// this.loaded = false;
							// import('./clients-monthly-view.html').then(React => {
							// 	this.loaded = true;
							// 	console.log('imported');
							// 	console.log(React);
							// });
					}
				}
			}

			customElements.define(AppShell.is, AppShell);
		}
	</script>
</dom-module>
